:root{
    --button-text: white;
    --button-color: #1322aa;
    --button-border: #172884;
} 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh
}

.HS-container {
    margin-right: 350px;
}

button {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: var(--button-text);
    background-color: var(--button-color);
    border: solid var(--button-border);
    border-radius: 5px;
}

.HS-submit {
    margin-top: 10px;
}

table {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #b2ffff;
    border: solid #b2ffff;
    width: 200%;
    padding: 12px;
}

#clear-HS {
    margin-left: 10px;
}

button:hover:focus:active {
    background-color: #648be8;
    color: white;
}

