:root{
    --button-text: white;
    --button-color: #1322aa;
    --button-border: #1e1784;
} 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    width: 70%;
    margin-left: 10rem;
    margin-bottom: 8rem;
    margin-top: -5rem;
}

#optionEl {
    width: 70%;
    margin-left: 13rem;
}

.option-Cont {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 70%;
    padding: 0.8rem;
    border: 0.1rem solid var(--button-border);
    background-color: var(--button-color);
    color: aliceblue;
    border-radius: 5px;
    font-weight:lighter;
}


.quizCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.option-Cont:hover {
    cursor: default;
    box-shadow: 0 0.3rem 1.3rem 0 #6791f1e3;
    color: white;
}

.option-Cont:active {
    background-color: #648be8;
    border: solid #b2ffff;
    color: white;
}

p {
    font-size: 1.7rem;
}

.option-prefix {
    padding: 0.1rem 0.3rem;
}

.option-text {
    padding: 0.1rem 0.3rem;
    width: 70%;
}

h2 {
    margin-bottom: 2rem;
    margin-left: 200px;
}

/* HS and initials submit */

#end-container {
    display: none;
    margin-bottom: 15rem;
}

#end-container h2 {
    margin-bottom: 15px;
}

#end-container p {
    margin-bottom: 10px;
    margin-left: 18rem;
}

#end-container input {
    margin-left: 5px;
    padding: 5px;
}

#end-container button {
    margin-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 12rem;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
}

#end-container .initials {
    font-size: 1.5rem;
}

#end-container .initials-submit {
    margin-left: 18rem;
}

/* display message */

h3 {
    display: none;
    margin: 30px;
    font-weight: lighter;
    font-style: oblique;
    color: #269a9a;
    opacity: 60%;
    border-top: solid gray;
    width: 100%;
}