:root{
    --button-text: white;
    --button-color: #1322aa;
    --button-border: #172884;
} 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


header nav ul{
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    font-size: 90%;
    width: 100%;
    padding: 10px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
}

.quiz-intro {
    text-align: center;
}

.quiz-container {
    display: none;
    margin-right: 400px;
}

.quiz-container button {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    margin-top: 20px;
    border-radius: 5px;
    color: var(--button-text);
    background-color: var(--button-color);
    border: solid var(--button-border);
    width: 180%;
}

.quiz-container ul li {
    margin-bottom: -5px;
}

.end-container {
    display: none;
}

.end-container h2 {
    margin-bottom: 15px;
}

.end-container p {
    margin-bottom: 10px;
}

.end-container input {
    margin-left: 5px;
    padding: 5px;
}

.end-container button {
    margin-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    color: var(--button-text);
    background-color: var(--button-color);
    border: solid var(--button-border);
}

ul {
    list-style-type: none;
}

.introheader {
    padding: 20px;
}

.quiz-intro button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    color: var(--button-text);
    background-color: var(--button-color);
    border: solid var(--button-border);
}

a {
    text-decoration: none;
    color: #269a9a;
}

button:hover {
    background-color: #648be8;
    color: white;
}

button:active {
    background-color: #648be8;
    border: solid #b2ffff;
    color: white;
}
